<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <meta charset="UTF-8">
    <title>상품목록 조회</title>

    <th:block layout:fragment="script">
        <script th:inline="javascript">

            $(document).ready(function () {
                $("#searchBtn").on("click", function (e) {
                    e.preventDefault();
                    page(0)
                    alert("창이뜸??")
                });
            });

            function page(page) {
                var searchDateType = $("#searchDateType").val()

                var searchSellStatus = $("#searchSellStatus").val()

                var searchBy = $("#searchBy").val()

                var searchQuery = $("#floatingInput").val()

                location.href = "/admin/products/prodMng/" + page +
                    "?searchDateType=" + searchDateType +
                    "&searchSellStatus=" + searchSellStatus +
                    "&searchBy=" + searchBy +
                    "&searchQuery=" + searchQuery
            }

        </script>
    </th:block>

</head>
<body>

    <div layout:fragment="content" >
        <form th:action="@{'/admin/products/' + ${products.number}}" role="form" method="get" th:object="${products}">
            <div class="col-12">
                <div class="card top-selling overflow-auto">
                    <div class="card-body pb-0">
                        <h5 class="card-title">제품 관리 <span>| 제품 목록</span></h5>

                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th scope="col">제품 아이디</th>
                                <th scope="col">제품명</th>
                                <th scope="col">판매 상태</th>
                                <th scope="col">등록자</th>
                                <th scope="col">등록일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product, satatus: ${products.getContent()}">
                                <th th:text="${product.id}">

                                <th>
                                    <a th:href="'/admin/products/'+${product.id}" th:text="${product.prodName}"></a>
                                </th>

                                <th th:text="${product.prodSellStatus.name == 'SELL'} ? '판매중' : '품절'">
                                <th th:text="${product.createBy}">
                                <th th:text="${product.regTime}">
                            </tr>

                            </tbody>
                        </table>
                        <!--페이징 처리 시작-->
                        <div class="row justify-content-center" th:with="start=${(products.number/maxPage) * maxPage + 1 } , end=${(products.totalPages==0 ) ? 1 :  (start + (maxPage -1) < products.totalPages ? start + (maxPage - 1): products.totalPages) }">
                            <div class="col-4">
                                <ul class="pagination">
                                    <!--이전-->
                                    <li class="page-item" th:classappend="${products.first} ? 'disabled' : ''">
                                        <a class="page-link"   th:onclick="'javascript:page(' + ${products.number - 1} + ')'  ">Previous</a>
                                    </li>

                                    <!--반복-->
                                    <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"  th:classappend="${products.number eq page-1} ? 'active' : ''">
                                        <a class="page-link" th:onclick="'javascript:page(' + ${page-1} + ')'  ">[[${page}]]</a>
                                    </li>

                                    <!--다음-->
                                    <li class="page-item" th:classappend="${products.last} ? 'disabled' : ''">
                                        <a class="page-link" th:onclick="'javascript:page(' + ${products.number + 1} + ')'  ">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--페이징 처리 끝-->
                        <div class="input-group  align-self-center mb-3" th:object="${productSearchDTO}">
                            <!--기간검색-->
                            <select th:field="*{searchDateType}"
                                    class="form-select form-select-lg mb-3" aria-label="Large select example">
                                <option value="all">전체기간</option>
                                <option value="1d">1일</option>
                                <option value="1w">1주</option>
                                <option value="1m">1개월</option>
                                <option value="6m">6개월</option>
                            </select>
                            <!--판매상태검색-->
                            <select th:field="*{searchSellStatus}"
                                    class="form-select form-select-lg mb-3" aria-label="Large select example">test
                                <option value="">판매상태(전체)</option>
                                <option value="SELL">판매</option>
                                <option value="SOLD_OUT">품절</option>
                            </select>
                            <!--상품명 또는 등록자 검색-->
                            <select th:field="*{searchBy}"
                                    class="form-select form-select-lg mb-3" aria-label="Large select example">
                                <option value="prodName">제품명</option>
                                <option value="createBy">등록자</option>
                            </select>
                            <!--검색어 입력-->
                            <div class="form-floating mb-3">
                                <input th:field="*{searchQuery}"  type="text" class="form-control" id="floatingInput" placeholder="검색어를 입력해주세요">
                                <label for="floatingInput">검색어를 입력해주세요</label>
                            </div>
                            <!--검색 버튼-->
                            <button type="submit" id="searchBtn" class="mb-3 btn btn-light search">검색</button>
                        </div>


                    </div>

                </div>
            </div><!-- End Top Selling -->



        </form>



    </div>

</body>
</html>