<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>상품 조회</title>


    <th:block layout:fragment="script">

        <script th:inline="javascript">

            $(document).ready(function () {

                calculateTotalPrice();
                $("#count").change(function () {
                    calculateTotalPrice();
                });


            });

            function calculateTotalPrice() {
                var count = $("#count").val();
                var price = $("#price").val();
                var totalPrice = price *count;
                $("#totalPrice").html(totalPrice + ' 원');
            }



            function order() {
                var count = $("#count").val()
                var productId = [[${productId}]]


                var url = "/order";
                var param = {
                    count : count,
                    productId : productId
                }


                $.ajax({
                    url: url,
                    type : "POST",
                    contentType : "application/json; charset =utf-8",
                    data : JSON.stringify(param),
                    dataType : "json",
                    success: function (response) {
                        console.log(response)
                        alert(productId + "번 상품의 주문이 완료되었습니다.")
                    },
                    error: function (jqXHR, status, error) {
                        console.log('Error:', error);
                        if (jqXHR.status == 401 || jqXHR.status == 500) {
                            alert("로그인 후 이용해 주세요");
                            location.href = '/users/login';
                        } else {
                            alert(jqXHR.responseText);
                        }

                    },


                })


            }


            function addCart() {
                var count = $("#count").val();
                var productId = [[${productId}]]; // 템플릿 엔진에 맞게 변수 설정
                console.log(count);
                console.log(productId);
                var url = "/cart";
                var param = {
                    count: count,
                    productId: productId
                };

                $.ajax({
                    url: url,
                    type: "post",
                    contentType: "application/json; charset=utf-8", // 공백 제거
                    data: JSON.stringify(param),
                    dataType: "json", // 기대하는 데이터 유형을 json으로 설정
                    success: function(result, status) {
                        console.log(result);
                        alert(productId + "번 상품을 장바구니에 담았습니다.");
                    },
                    error: function(jqXHR, status, error) {
                        console.log('Error:', error);
                        // 예상치 못한 HTML 응답을 처리하기 위한 코드 추가
                        if (jqXHR.responseText.includes("<!DOCTYPE html>")) {
                            console.error("HTML 응답을 받았습니다. 응답 내용을 확인하세요:", jqXHR.responseText);
                        } else if (jqXHR.status == 401 || jqXHR.status == 500) {
                            alert("로그인 후 이용해 주세요");
                            location.href = '/users/login';
                        } else {
                            alert(jqXHR.responseText);
                        }
                    }
                });
            }


        </script>

    </th:block>




</head>
<body>

    <div layout:fragment="content">
        상품 조회


        <div class="row mb-3">
            <div class="col">
                <div class="repImgDiv">
                    <img th:src="${product.productImgDTOList[0].imgUrl}" class="rounded repImg"
                         th:alt="${product.prodName}">
                </div>

                <div class="card-body">
                    <div th:if="${product.stockNumber >0}"><span th:if="${product.prodSellStatus.name() =='SELL'}"  class="badge text-bg-success mb-3">판매중</span></div>
                    <div th:if="${product.stockNumber <=0}"><span class="text-danger badge text-bg-success mb-3 tex">품절</span></div>


                    <div class="h4" th:text=" '제품명 : '+' &ensp;' + ${product.prodName}"></div>
                    <hr class="my-4">

                    <div class="text-right">
                        <div class="h4 text-danger text-left">
                            <input type="hidden" th:value="${product.price}" id="price" name="price">
                            <span th:text="'가격 :' + '&ensp;' + ${product.price} + ' 원'"></span>
                        </div>

                        <div class="input-group w-50">
                            <div class="input-group-prepend">
                                <span class="input-group-text">수량</span>
                            </div>

                            <input type="number" name="count" id="count" class="form-control" value="1" min="1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                        </div>
                    </div>
                    <hr class="my-4">


                    <div th:if="${product.prodSellStatus.name() =='SELL'}">
                        <div th:if="${product.stockNumber > 0}">
                            <div class="text-right">
                                <h5>결제 금액</h5>
                                <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
                            </div>
                            <button type="button" class="btn btn-light border border-primary btn-lg cart" onclick="addCart()">장바구니</button>&ensp;
                            <button type="button" class="btn btn-primary btn-lg order" onclick="order()">상품 주문</button>
                            <hr>
                        </div>
                    </div>

                    <div th:if="${product.stockNumber <= 0}">
                        <h4 class="h4 text-danger text-left">상품이 품절 되었습니다.</h4>
                        <span class="h4">다른 상품 살펴보기  >>><a href="/"> 메인페이지로</a></span>
                        <hr>
                    </div>
                    <br>
                    <div class="jumbortron jumbortron-fluid mgt-30">
                        <div class="container">
                            <h4 class="display-5">상품 상세설명</h4>
                            <br>
                            <br>
                            <br>
                            <p class="lead" th:text="${product.prodDetail}"></p>
                        </div>
                    </div>


                    <div th:each="productImg: ${product.productImgDTOList}" class="text-center">
                        <img th:if="${not #strings.isEmpty(productImg.imgUrl)}" alt=""
                             th:src="${productImg.imgUrl}" class="rounded mgb-15" width="800">
                    </div>

                </div>

            </div>

        </div>


    </div> <!--content-->

</body>
</html>