<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
</head>
<body>

    <div layout:fragment="content" >




        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="/main/" class="logo d-flex align-items-center w-auto">
                                    <span class="d-none d-lg-block">프로젝트 명</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-2">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">아이디 찾기 </h5>
                                        <p>찾으실 아이디의 유저이름과 이메일을 작성해주세요</p>
                                    </div>

                                    <form action="/users/idchek" role="form" method="post" >

                                        <div class="col-16">
                                            <th:block th:if="${loginId == null}">
                                            <label for="name" class="form-label" >유저이름</label>
                                            <input type="text" name="name" class="form-control"  id="name" placeholder="본인 이름을 입력해 주세요" required>
                                            </th:block>
                                        </div>


                                        <div class="col-16">
                                            <th:block th:if="${loginId == null}">
                                            <label for="email" class="form-label" >유저 이메일</label>
                                            <input type="email" name="email" class="form-control"  id="email" placeholder="가입된 아이디의 이메일을 작성해 주세요" required>
                                            </th:block>
                                       </div>

                                        <th:block th:if="${loginId != null}">
                                            <h2>찾은 아이디</h2>
                                            <h1>[[${loginId}]]</h1>



                                        </th:block>


                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">아이디 검색</button>
                                        </div>


                                        <div class="col-12">
                                            <p class="small mb-0">비밀번호가 기억나지 않으신가요?<br><a href="/users/passcheck">비밀번호 찾기</a></p>
                                            <a href="/users/login">로그인</a>
                                        </div>

                                        <!--                                        <input type="hidden" th:name="${_csrf.parameterName}"-->
                                        <!--                                               th:value="${_csrf.token}">-->

                                    </form>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </section>

        </div>
    </div>

</body>
</html>