<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>

<div layout:fragment="content" >




    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="/main/" class="logo d-flex align-items-center w-auto">
                                <span class="d-none d-lg-block">프로젝트 명</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-2">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">비밀번호 변경 </h5>

                                </div>



                                <form action="/users/passchange" role="form" method="post" th:object="${userPasswordDTO}" >

                                    <div class="col-16">

                                            <label for="password" class="form-label" >변경할 비밀번호를 입력해주세요</label>
                                            <input type="text" name="newPassword" class="form-control" th:field="*{newPassword}"  id="password" placeholder="비밀번호를 입력해주세요" required>

                                    </div>


                                    <div class="col-16">

                                            <label for="password2" class="form-label" >입력한 비밀번호를 확인해 주세요</label>
                                            <input type="text" name="newPassword2" class="form-control" th:field="*{newPassword2}" id="password2" placeholder="입력한 비밀번호를 확인해주세요" required>

                                    </div>




                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">비밀번호 변경</button>
                                    </div>


                                    <div class="col-12">
                                        <p class="small mb-0">로그인 하로가기<br><a href="/users/login">로그인</a></p>
                                    </div>



                                </form>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </section>

    </div>
    <script>
        let err = "[[${err}]]"
        if(err != ""){
            alert(err)
        }
    </script>
</div>
</body>
</html>